node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build
/static/ocr/worker.min.js
/static/ocr/core/
/.bun-cache/
/.npm-cache/

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Traefik
letsencrypt/
