version: '3'

services:
  app:
    build: .
    container_name: dart-cams-app
    restart: unless-stopped
    expose:
      - "80"
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=dokploy-network"
    networks:
      - dokploy-network

networks:
  dokploy-network:
    external: true
